.titulo{
    padding-left: 25px;
    padding-top: 25px;
}

.codigo{
    padding-bottom: 10px;
    border:1px solid black;
    border-radius: 5px;
    background-color: lightskyblue;
}

.tudo{
    padding-top: 5px;
    padding-bottom: 10px;
}